@import "styles/styles-variables";

.main {
  padding: $desktop-padding;
  background-color: $main-color;
  flex: 1;
}

@media only screen and (max-width: $mobile-breakpoint) {
  .main {
    padding: $mobile-padding-double;
  }
}
