$prime-font-color: black;

$header-color: rgba(127, 68, 137, 0.746);
$main-color: rgba(255, 127, 80, 0.6);
$footer-color: rgb(70, 159, 52);
$nav-color: rgb(6, 229, 229);
$nav-color-expanded: rgba(193, 69, 94, 0.79);

$page-title-padding: 0 00 0.8rem;

$desktop-padding: 2rem 5rem;
$mobile-padding: 1rem 2rem 0 0.8rem;
$mobile-padding-double: 1rem 2rem 0 1.8rem;

$mobile-breakpoint: 600px;

$box-shadow-1: -3px 0px 26px -12px rgba(0, 0, 0, 0.74);
