.card {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  width: 25%;
  max-width: 600px;

  &__name {
    font-size: 1.5rem;
    text-align: center;
    padding: 1rem 0;
    height: 200%;
  }

  &__img {
    width: 100%;
    max-width: 600px;
    margin-bottom: 0.5rem;
    box-shadow: -3px 13px 26px -14px rgba(0, 0, 0, 0.74);
    transition: all 0.5s ease-in-out;
  }

  &__btn {
    display: flex;
    padding: 1rem;
    justify-content: space-around;
  }
}

@media screen and (max-width: 1000px) {
  .card {
    width: 40%;

    &__name {
      font-size: 1.4rem;
    }
  }
}

@media screen and (max-width: 600px) {
  .card {
    width: 100%;

    &__name {
      font-size: 1.3rem;
    }
  }
}
