.card {
  padding: 2rem;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  width: 25%;

  &__name {
    font-size: 1.5rem;
    text-align: center;
    padding: 1rem 0;
    height: 200%;
  }

  &__img {
    width: 100%;
    margin-bottom: 0.5rem;
    box-shadow: -3px 13px 26px -14px rgba(0, 0, 0, 0.74);
    transition: all 0.5s ease-in-out;

    &:hover {
      transform: scale(1.05);
    }
  }

  &__btn {
    display: flex;
    padding: 1rem;
    justify-content: space-around;
  }
}
