@import "styles/styles-variables";

.contact {
  &__link {
    width: 25rem;
    display: flex;
    align-items: center;
    color: $prime-font-color;
    text-decoration: none;
    font-family: "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  }

  &__logo {
    width: 2.5rem;
    padding: 0.5rem;
  }

  &__text {
    padding-left: 1rem;
  }
}
