.nav {
  height: 100vh;
  width: 4.4rem;
  background-color: aqua;
  z-index: 1;
  position: fixed;

  &-btn {
    cursor: pointer;
    width: 3rem;
    height: 3rem;
    margin: 5.2rem 0rem 0rem 2.8rem;
    border: rgb(255, 255, 255) 0.2rem solid;
    border-radius: 2rem;
    display: flex;
    justify-items: center;
    justify-content: center;
    align-items: center;
    font-size: 2.5rem;

    &:hover {
      background-color: rgb(223, 234, 18);
    }

    &:active {
      background-color: rgb(222, 195, 224);
    }
  }

  &--expanded {
    width: 10rem;
    background-color: rgba(193, 69, 94, 0.79);

    &-btn {
      background-color: rgb(60, 240, 57);
      transform: translateX(190%);
    }
  }

  &-list {
    list-style: none;

    &-item {
      margin: 1.4rem 0;

      &-link {
        padding: 0.3rem;
        text-decoration: none;
        color: rgb(0, 0, 0);
        display: flex;
        align-items: center;

        &-logo {
          width: 2rem;
          height: 2rem;
          margin-left: 1rem;
        }

        &-text {
          display: none;
          padding-right: 1rem;

          &--expanded {
            margin-left: 1rem;
            justify-self: baseline;
          }
        }
      }
    }
  }

  & .active {
    background-color: rgb(195, 251, 14);
  }
}
