.nav {
  height: 100vh;
  width: 4.4rem;
  background-color: aqua;
  z-index: 1;
  position: fixed;

  &-btn {
    cursor: pointer;
    width: 3.8rem;
    height: 3.8rem;
    margin: 4.8rem 0rem 0rem 2.4rem;
    border: rgb(255, 255, 255) 0.2rem solid;
    border-radius: 2rem;
    display: flex;
    justify-items: center;
    align-items: center;

    &:hover {
      background-color: rgb(223, 234, 18);
    }

    &:active {
      background-color: rgb(199, 26, 215);
    }
  }

  &--expanded {
    width: 10rem;
    background-color: rgba(193, 69, 94, 0.79);

    &-btn {
      background-color: rgb(60, 240, 57);
      transform: translateX(150%);
    }
  }

  &-list {
    list-style: none;

    &-item {
      margin: 1rem 0;
      padding: 0.3rem;

      &-link {
        text-decoration: none;
        color: rgb(0, 0, 0);
        display: flex;
        justify-content: space-around;
        align-items: center;

        &-logo {
          width: 2rem;
          height: 2rem;
        }

        &-text {
          display: none;
        }
      }
    }
  }
}

.active {
  background-color: rgb(127, 237, 108);
}
